/* Reset */
body {
  height: 100%;
  margin: 0;
}

html {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul, ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: unset;
  background-color: transparent;
  cursor: pointer;
}

/* Colors */
/* Container */
@font-face {
  font-family: Display;
  src: url("../fonts/SFUIDisplay-Regular.woff2") format("woff2"), url("../fonts/SFUIDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Display;
  src: url("../fonts/SFUIDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFUIDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Display;
  src: url("../fonts/SFUIDisplay-Bold.woff2") format("woff2"), url("../fonts/SFUIDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-size: 16px;
  line-height: 1.37;
  font-family: Display, sans-serif;
  color: #fff;
  overflow-x: hidden;
}

.wrapper-container-header {
  width: 100%;
  max-width: 896px;
  padding: 0 15px;
  position: relative;
  height: inherit;
}

.wrapper-container {
  width: 100%;
  max-width: 896px;
  padding: 0 0 0 50px;
  position: relative;
  height: inherit;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
}

.subtitle {
  font-size: 15px;
  line-height: 1.3;
  opacity: 0.8;
}

.section {
  height: 667px;
}

/* Colors */
/* Container */
@font-face {
  font-family: Display;
  src: url("../fonts/SFUIDisplay-Regular.woff2") format("woff2"), url("../fonts/SFUIDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Display;
  src: url("../fonts/SFUIDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFUIDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Display;
  src: url("../fonts/SFUIDisplay-Bold.woff2") format("woff2"), url("../fonts/SFUIDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body.js-open-menu-body {
  overflow: hidden;
}

/* ===== Header ===== */
.header {
  z-index: 8;
}

.header-top {
  height: 46px;
  padding: 15px 0;
  position: fixed;
  background-color: transparent;
  width: 100%;
  top: 0;
  z-index: 9;
}

.menu-burger {
  position: relative;
  width: 16px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 99;
}
@media (min-width: 600px) {
  .menu-burger {
    display: none;
  }
}
.menu-burger.js-active-burger:before {
  transform: rotate(45deg);
  bottom: 4px;
  width: 100%;
}
.menu-burger.js-active-burger:after {
  transform: rotate(-45deg);
  top: 6px;
  width: 100%;
}
.menu-burger.js-active-burger span {
  transform: scale(0);
}
.menu-burger span {
  background-color: #fff;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  transition: all 0.5s ease 0s;
}
.menu-burger:before, .menu-burger:after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 100%;
  border-radius: 2px;
  height: 2px;
  transition: all 0.5s ease 0s;
}
.menu-burger:after {
  top: 0;
  left: 0;
}
.menu-burger:before {
  right: 0;
  bottom: 0;
}

.nav {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  top: 40px;
  margin: 0 auto;
  z-index: 9;
  background-color: #000;
}
@media (min-width: 600px) {
  .nav {
    display: block;
    position: relative;
    top: 0;
    width: 100%;
  }
}
.nav.js-menu-opened {
  display: block;
  top: -16px;
  height: 100vh;
  width: 100%;
}
.nav .menu-list {
  padding-top: 100px;
}
@media (min-width: 600px) {
  .nav .menu-list {
    padding-top: 0;
  }
}
.nav .menu-list .menu-item {
  display: block;
  text-align: center;
  padding: 10px;
}
@media (min-width: 600px) {
  .nav .menu-list .menu-item {
    display: inline-block;
    padding: 0;
  }
}
.nav .menu-list .menu-item .menu-link {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
@media (min-width: 600px) {
  .nav .menu-list .menu-item + .menu-item {
    margin-left: 33px;
  }
}

/* ===== Section video banner ===== */
.section-video-banner {
  background-image: linear-gradient(rgba(16, 16, 16, 0.6), rgba(16, 16, 16, 0.6)), url("../images/tv-bg-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 596px;
  width: 100%;
  position: relative;
  background-color: #101010;
}

.wrapper-video-banner {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.video-banner-text-box {
  width: 92%;
}
.video-banner-text-box .video-banner-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 10px;
}
.video-banner-text-box .video-banner-subtitle {
  color: #fff;
  opacity: 0.8;
}

.video-banner-icon {
  position: absolute;
  width: 14px;
  height: 7.5px;
  left: 50%;
  right: 0;
  bottom: 25px;
}

/* Section watch films */
.section-watch-films {
  background-image: url("../images/film-bg-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #101010;
}

.wrapper-watch-films {
  padding-top: 80px;
}
.wrapper-watch-films .title {
  margin-bottom: 15px;
  width: 74%;
}
.wrapper-watch-films .subtitle {
  width: 71%;
}

/* ===== Section prepayment ===== */
.section-prepayment {
  background-color: #23C3B2;
  padding: 8px;
}
.section-prepayment .prepayment {
  background-image: linear-gradient(rgba(16, 16, 16, 0.6), rgba(16, 16, 16, 0.6)), url("../images/prepayment-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.wrapper-prepayment .prepayment-top-content {
  padding-top: 36px;
}
.wrapper-prepayment .prepayment-top-content .prepayment-top-subtitle {
  letter-spacing: 0.5px;
}
.wrapper-prepayment .prepayment-top-content .prepayment-top-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 1px;
  margin-top: 5px;
}
.wrapper-prepayment .prepayment-center-content {
  padding-top: 109px;
}
.wrapper-prepayment .prepayment-center-content .prepayment-center-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.19;
  width: 90.5%;
}
.wrapper-prepayment .prepayment-center-content .prepayment-center-subtitle {
  letter-spacing: 0.5px;
  margin-top: 10px;
  width: 84%;
}
.wrapper-prepayment .prepayment-bottom-content {
  padding-top: 40px;
}
.wrapper-prepayment .prepayment-bottom-content .prepayment-bottom-price {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 1px;
  text-transform: lowercase;
  margin-bottom: 16px;
}
.wrapper-prepayment .prepayment-bottom-content .prepayment-bottom-button {
  background-color: #23C3B2;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  padding: 21px 57px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #fff;
}
.wrapper-prepayment .prepayment-bottom-content .prepayment-bottom-text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.833333px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.6);
  max-width: 157px;
  margin-bottom: 20px;
}
.wrapper-prepayment .prepayment-bottom-content .prepayment-bottom-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.18;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  color: #E5E5E5;
}

/* ===== Section gifts ===== */
.section-gifts {
  background-image: url("../images/gifts-bg.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #101010;
  height: 571px;
}

.gifts .wrapper-gifts {
  padding-top: 92px;
  width: 95%;
}
.gifts .wrapper-gifts .title {
  margin-bottom: 15px;
}

/* ===== Section connect ===== */
.section-connect {
  background-color: #101010;
}
.section-connect .wrapper-connect {
  padding-top: 90px;
}
.section-connect .wrapper-connect .title {
  margin-bottom: 30px;
  width: 94%;
}
.section-connect .wrapper-connect .connect-text-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px;
}
.section-connect .wrapper-connect .connect-text-list .connect-text-item {
  margin-bottom: 40px;
}
.section-connect .wrapper-connect .connect-text-list .connect-text-item p {
  width: 133px;
}
.section-connect .wrapper-connect .connect-text-list .connect-text-item + .connect-text-item {
  margin-right: 15px;
}
.section-connect .wrapper-connect .connect-button {
  background-color: #23C3B2;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.2;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;
  padding: 20px 49px;
}

/*# sourceMappingURL=style.css.map */
